<div class="form-group mb-n3 mt-2">
    <input type="checkbox" id="datecheck" class="ml-2" onclick="rattrapage()">
    <label for="datecheck">{{ 'Rattrapage'|trans }}</label>
</div>
<div class="form-group mt-4" id="date">
    {{ form_row(form.date, {'label':false})}}
</div>
