html {
    height: 100%;
}

body {
    height: 97%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    /*vertical-align: center;*/
    /*margin-top: 20px;*/
}

@media screen and (max-width: 768px) {

    body {
        height: 75%;
    }

    body {
        align-items: baseline;
        margin-top: 30px;
    }
}
