<div class="container" style="display: flex;align-items: center;justify-content: center;height: 100%;flex-direction: column;margin: 0 auto;width: 100%;">
    <div class="images" style="align-items: center;width: 30%;height: auto;margin-bottom: 15px;">
        <img src="imgmail.png" alt="" style="width: 100%;border-radius: 10px;"></div>
    <div class="mail">
        <img src="https://hajjalbayt.com/public/images/Hajjalbayt.png" alt="logo" style="width: 200px; margin: 0 auto;justify-content: center; display: block;">
        <p style="font-size: 16px;margin-bottom: 18px;font-family: Verdana, Geneva, Tahoma, sans-serif;">
            Cliquez sur le lien ci-dessous pour activer votre compte
        </p>
        <a href="{{ url }}" style="display:block;padding: 10px 20px; background-color: #039c4f;font-family: Verdana, Geneva, Tahoma, sans-serif;color: #fff;text-decoration: none;border-radius: 5px;font-size: 20px;text-align: center;">
            Activez votre compte
        </a>
    </div>
</div>