{% extends "licence.html.twig" %}
{% block title %} Connexion - Hajjalbayt {% endblock %}
{% block body %}

<div class="container-fluid banner">
    <div class="row">
        <img src="images/market/Banner.jpg" alt="Banniere" class="img-fluid w-100">
    </div>
</div>
<div class="container-fluid bg-success-light">
    <div class="col-lg-12 mb-5">
        <div class="row mb-5">
            <div class="col-lg-6 mt-5 left-pan">
                <h4 class="text-center text-green text-bold">HAJJALBAYT by EUCLIDES</h4>
                <img src="images/market/left-pan.jpg" alt="image" class="img-fluid align-center w-80">
            </div>
            <div class="col-lg-6 mt-5 text-center">
                <div class="col-sm-10 offset-sm-1 login">
                    <div class="col-10 offset-1 mt-5 mb-5">
                        <h4 class="mb-5 text-green text-bold">Connexion à votre compte</h4>
                        <form action="{{ path('security_login') }}" method="POST">
                            <div class="form-group mt-4">
                                <input type="email" name="_username" id="_username" placeholder="Adresse email" class="form-control" required autofocus />
                            </div>
                            <div class="form-group mt-4">
                                <input type="password" name="_password" id="_password" placeholder="Mot de passe" class="form-control" />
                            </div>
                            <div class="form-group mt-4">
                                <a href="{{ path('security_forgotten_password')}}" class="text-green">
                                    Mot de passe oublié
                                </a>
                            </div>
                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-shadow btn-green radius-15 pl-4 pr-4">
                                    <h5 class="text-bold">
                                        Se connecter
                                        <i class="fa fa-sign-in-alt ml-1 align-middle"></i>
                                    </h5>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="text-center mt-4">
                    Si vous n'avez pas de compte. <a href="{{ path('inscription')}}" class="text-green text-bold"> Inscrivez-vous</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
